## LoonyKernel init

on early-init
    # boot with higher frequency, will be reset after boot->spectrum
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1516800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1209600

on init
    # memory
    write /proc/sys/vm/overcommit_ratio 0
    write /proc/sys/vm/vfs_cache_pressure 50

## Import spectrum profiles
import /init.spectrum.rc

on property:sys.boot_completed=1
    # acc. to qcom this improves first launch latencies
    # stock value is 512k
    # from franciscofranco
    setprop dalvik.vm.heapminfree 2m

    setprop sys.io.scheduler "maple"

    # Make sure governor sys paths have the correct permissions
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor

    # Make sure all the cpufreq sys paths have the correct permissions
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

    # Disable sched-boost
    write /proc/sys/kernel/sched_boost 0

    # Don't treat storage as rotational
    write /sys/block/mmcblk0/queue/rotational 0

    # swappiness
    write /proc/sys/vm/swappiness 20

    # set big cluster properties
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 1
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres 29
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres 15
    write /sys/devices/system/cpu/cpu0/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu0/core_ctl/is_big_cluster 1

    # lmk
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

    # enable fp to sleep
    write /sys/homebutton/enable 1
    write /sys/homebutton/key 116

    # enable/disable sweep2sleep by flar2
    write /sys/sweep2sleep/sweep2sleep 1
    write /sys/sweep2sleep/vib_strength 42
